.header{
    width: 100%;
    min-height: 100px;
    padding: 40px 70px;
    color:white;
    margin-bottom: 5px;
    box-shadow: 0px -8px 12px 8px $color2;
    background-color:$color1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    &__logo-container{
        color: #ffffff;
        text-decoration: none;

        &:hover{
            text-decoration: none;
            color: #ffffff;
        }

        &:focus{
            text-decoration: none;
            color: #ffffff;
        }

        img{
            width: 70px;
            height: 70px;
        }

        span{
            text-transform: capitalize;
        }
    }

    &__nav-list{
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__nav-item{
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;

        a{
            text-decoration: none;
            color:#ffffff;
            display: block;
            padding: 10px 20px;
            transition: all ease-out 0.5s;
            outline:1px solid transparent;

            &:hover{
                outline:1px solid $color5;
                color:$color7;
                transition: all ease-out 0.5s;
            }
        }
    }

    &__actions{
        display: flex;

        &-sign-up{
           margin-right: 10px;
           transition: all ease-out 0.8s;

           &:hover{
                background-color:$color5;
                transition: all ease-out 0.8s;
           }
        }

        &-sign-in{
           background-color: $color2;
           transition: all ease-out 0.8s;

           &:hover{
            background-color:$color5;
            transition: all ease-out 0.8s;
         }
        }
    }
}