.header{
    width: 100%;
    color:white;
    background-color:$color1;
    position: relative;
    margin-bottom: 5px;
    z-index: 1;

    &__site-nav{
        padding: 40px 70px;
        box-shadow: 0px -8px 12px 8px $color2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 150px;
        max-height: 180px;
    }

    &__site-nav-mobile{
        display: none;
        width: 100%;
        height: 100px;
        border:1px solid red;
    }

    &__nav-list{
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__nav-item{
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;

        a{
            text-decoration: none;
            color:#ffffff;
            display: block;
            padding: 10px 10px;
            transition: all ease-out 0.5s;
            outline:1px solid transparent;

            &:hover{
                outline:1px solid $color5;
                color:$color7;
                transition: all ease-out 0.5s;
            }
        }
    }

    &__search-container{
        cursor: pointer;
        font-size: 25px;
        transition: all ease-out 0.8s;

        &:hover{
            color:$color5;
            transition: all ease-out 0.8s;
        }
    }

    &__actions-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }

    &__actions{
        display: flex;
        
        &-sign-up{
           margin-right: 10px;
           transition: all ease-out 0.8s;

           &:hover{
                background-color:$color5;
                transition: all ease-out 0.8s;
           }
        }

        &-sign-in{
           background-color: $color2;
           transition: all ease-out 0.8s;

           &:hover{
            background-color:$color5;
            transition: all ease-out 0.8s;
         }
        }
    }

    &__form-search{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -250px;
        left: 0;
        outline: none;
        z-index: 12;
        background-color:$color2;
        transition: all ease-out 0.4s;

        &_visible{
            top:0;
            transition: all ease-out 0.4s;
        }

        .d-flex{
            display: flex;
            align-items:center;
            justify-content: center;
            width: 50%;
        }
        input[type="search"],
        input[type="submit"]{
            height: 50px;
            padding-left: 30px;
            padding-right: 30px;
            color:#ffffff;
            background-color:$color1;
            text-transform: uppercase;
            font-family: 'StargazeRegular',sans-serif;
            border:none;
            transition: all ease-out 0.4s;
            outline: transparent;

            &:hover{
                transition: all ease-out 0.4s;            
                box-shadow:0px 0px 19px -4px #ffffff,
                           0px 0px 19px -4px $color5;
            }
        }

        input[type="search"]{
            width: 50%;          
            margin-right: 20px;
            
            &::placeholder{
                color:#ffffff;
            }
        }
        input[type="submit"]{
            cursor: pointer;
            
        }     
        
    }
    
    &__form-close{
        cursor:pointer;
        position: relative;
        right: 0;
        width: 35px;
        height: 35px;
        z-index: 13;

        &:hover span{
            transition: all ease-out 0.4s;
            background-color:$color7;
            
        }
        span{
            position: absolute;
            width: 100%;
            height: 3px;
            background-color:#ffffff;
            transition: all ease-out 0.4s;

            &:nth-child(2){
                transform: rotate(-45deg);
                top: 17px;
                right: 0;
            }
            &:nth-child(1){
                transform: rotate(45deg);
                top: 17px;
                right: 0;
            }
        }
    }

/*--------------------- Start media queries styles ---------------------*/

/*----- Small devices styles -----*/
@media (min-width: 575.98px) and (max-width: 767px) {
    border:1px solid red;
    width: 100%;
    z-index: 50;
    position: relative;
    position: fixed;
    // right: 24px;
        // top: 10px;
    // background-color:#ffffff;
    // right: 0;
    // top: 0;
    &__burger-menu {
        border:1px solid yellow;
        display: block;
        //  position: fixed;
        // right: 24px;
        // top: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;

        span {
          width: 100%;
          background-color:red;
          height: 2px;
        //   background-color: #ffffff;
        //   position: absolute;
        //   left: 0;
          top: 13px;
        }
  
        // &:before,
        // &:after {
        //   content: "";
        //   width: 100%;
        //   height: 2px;
        //   background-color: #ffffff;
        //   position: absolute;
        //   left: 0;
        //   transition: all 0.3s ease 0s;
        // }
        // &:before {
        //   top: 5px;
        // }
        // &:after {
        //   bottom: 5px;
        // }
        // &_active:before {
        //   top: 11px;
        //   border: 1px solid $color1;
        //   background-color: $color1;
        //   transform: rotate(45deg);
        // }
        // &_active:after {
        //   border: 1px solid $color1;
        //   background-color: $color1;
        //   transform: rotate(-45deg);
        //   bottom: 17px;
        // }
        // &_active span {
        //   transform: scale(0);
        // }
      }

    &__site-nav{
        display: none;
    }

    &__site-nav-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        position: fixed;
        // flex-direction: column;
        height: 250px;  
             
    }

    &__mobile-menu{
        width: 100%;
        border:1px solid yellow;
    }

    // &__nav-list{
        
    // }
}

/*----- Medium devices styles -----*/
@media (min-width: 767.98px) and (max-width: 991px) {
    
    &__site-nav{
        flex-wrap: wrap;
        padding: 0px 10px;
        min-height: 250px;
        justify-content: space-evenly;
    }

    .logo{
      width: 50%;
      font-size: 12px;
    }

    &__nav-list{
        order:2;
    }

    &__nav-item {
        a{
            font-size: 12px;
            padding: 0;
        }  
    }

    &__search-container{
        font-size: 20px;
    }

    &__actions a {
        width: 100px;
        padding: 5px;
        font-size: 12px;
    }

    &__actions-container{
        width: 40%;
    }
}

/*------ Large devices styles ------*/
@media (min-width: 991.98px) and (max-width: 1199px) {
    
    &__site-nav{
        flex-wrap: wrap;
        padding: 0px 10px;
        min-height: 250px;
        justify-content: space-evenly;
    }

    .logo{
      width: 50%;
    }

    &__nav-list{
        order:2;
    }

    &__nav-item {
        a{
            font-size: 14px;
        }  
    }

    &__actions-container{
        width: 35%;
    }
}

@media (min-width: 1199.98px) and (max-width: 1651px) {
    
    &__site-nav{
        flex-wrap: wrap;
        padding: 0px 10px;
        min-height: 100px;
    }

    .logo{
        img{
            width: 50px;
            height: 50px;
        }
        span{
            font-size: 11px;
        }
    }
    &__nav-list{
        display: contents;
        width: 50%;
    }

    &__nav-item {
        margin-left: 0px;
        margin-right: 0px;

        a{
            padding: 0px 0px;
            font-size: 11px;
        }  
    }

    &__search-container{
        font-size: 20px;
        margin-right: 10px;
    }

    &__actions a {
        font-size: 11px;
        width: 102px;
        padding: 5px;
    }
}
@media (min-width: 1651.98px) and (max-width: 1900px) {

    &__site-nav{
        border:1px solid red;
        flex-wrap: wrap;
        padding: 0px 40px;
    }
    
}
/*--------------------- End media queries styles ---------------------*/
}

.homepage {
    .header__logo-container{
      pointer-events: none;
    }
}