.html-adventure{
    width: 100%;
    min-height: 450px;
    height: 100vh;
    background-color:$color4;
    padding: 40px 70px;
    display: flex;
    flex-direction: row-reverse;

    &__icons-container{
        position: relative;
        width: 50%;
    }

    &__icon{
        width: 100px;

        &:nth-child(1){
            width: 500px;
            position: absolute;
            bottom: -50px;
            left: -90px;
        }
        &:nth-child(2){
            width: 90px;
            position: absolute;
            bottom: 30%;
            right:12%;
            z-index: 2;
        }
        &:nth-child(3){
            width: 250px;
            position: absolute;
            top: 0;
            right: 0;
            animation-name: rotation;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        &:nth-child(4){
            width: 110px;
            position: absolute;
            top: 42%;
            left: 5%;
        }
        &:nth-child(5){
            width: 290px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &:nth-child(6){
            width: 50px;
            position: absolute;
            top: 47%;
            left: 20%;
            animation: bounce 1s infinite ease;

        }
        &:nth-child(7){
            width: 110px;
            position: absolute;
            top: 0;
            left: 0;
            animation-name: rotation;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        &:nth-child(8){
            position: absolute;
            top: 10%;
            right: 30%;
            width: 90px;
        }
        &:nth-child(9){
            position: absolute;
            top: 50%;
            right: 25%;
            transform: rotate(337deg);
            width: 120px;
        }
        &:nth-child(10){
            position: absolute;
            top: 20%;
            left: 30%;
            width: 120px;
        }
    }

    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        i{
            position: absolute;
            top: 36%;
            right: 17%;
            font-size: 50px;
            color:#D75A4A;
            z-index: 22;
        }
    }

    &__title{
        margin-bottom: 30px;
    }

    &__desc{
        margin-bottom: 30px;
    }

    &__start-btn{
        background-color:#ffffff;
        border:1px solid $color2;
        color:$color2;
        padding: 15px;
        width: 200px;
        transition: all ease-out 0.4s;

        &:focus{
            text-decoration: none;
        }
        &:hover{
            border:1px solid #ffffff;
            background-color:$color2;
            transition: all ease-out 0.4s;
        }
    }
}