.library-wrap{
  width: 100%;
  flex: 1;
  padding: 30px 0;

  .breadcrumbs{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    background-color:$color2;

    &__item{
      display: flex;
      align-items:center;
      
      &:last-child > a{
        pointer-events: none;
        opacity: .6;
      }

      &:last-child > i{
        display: none;
      }
      i{
        padding: 0px 10px;
        
      }
      a{
        color:#ffffff;
        text-decoration: none;
        display: block;
        padding: 5px 10px;

        &:hover{
          color:$color7;
          transition: all ease-out 0.4s;
        }
      }
    }
  }

  .tabs{
    width: 100%;
    padding: 40px 0;
    box-shadow: 0 5px 5px -3px $color2;

    &__list{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-start;
    }

    &__item{
      margin-right: 15px;
      background-color:$color2;
      transition: all ease-out 0.4s;

      a{
        color:#ffffff;
        padding: 10px 15px;
        display: block;
        width: 100%;
        text-decoration: none;
      }

      &:hover{
        background-color:$color5;
        transition: all ease-out 0.4s;
      }

    }
  }

  .settings{
    width: 100%;
    padding: 40px 0;
    box-shadow: 0 5px 4px -3px $color2;
    display: flex;
    justify-content: space-between;
    
    &-group{
      display: flex;

      &__item{
        background-color:$color2;
        cursor: pointer;
        margin-right: 25px;

        i{
          margin-right: 10px;
        }

        &:last-child{
          margin-right: 0;
        }

        &:hover{
          background-color:$color5;
          transition: all ease-out 0.4s;
        }
      }
    }
  }

  .post-container{
    padding-top: 50px;

    .post-list{
      border:2px solid $color5;
      display: flex;
      border-radius: 5px;
      width: 100%;
      min-height: 200px;
      box-shadow: 0 0 5px 5px $color2;

      &__img-container{
        width: 35%;
      
        img{
          width: 100%;
          object-fit: cover;
        }
      }

      &__content{
        width: 60%;
        flex-grow: 1;
        padding: 20px;

        &-title{
          text-align: center;
        }

        &-desc{
          display: block;
          font-size: 12px;
          margin-bottom: 60px;
        }
      }

      &__stats{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        min-height: 100px;
        border:1px solid red;

        &-info{
          min-width: 350px;
          min-height: 50px;
          border:1px solid yellow;
        }

        &-btn{
          background-color: $color2;
          margin-right: 20px;
        }
      }
    }
  }
}