.library-wrap{
  width: 100%;
  flex: 1;
  padding: 30px 0;

  .breadcrumbs{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    background-color:$color2;
    
    &__item{
      display: flex;
      align-items:center;
      
      &:last-child > a{
        pointer-events: none;
        opacity: .6;
      }

      &:last-child > i{
        display: none;
      }
      i{
        padding: 0px 10px;
        padding: 0px 15px;
      }
      a{
        color:#ffffff;
        text-decoration: none;
        display: block;
        padding: 5px 10px;

        &:hover{
          color:$color7;
          transition: all ease-out 0.4s;
        }
      }
    }
  }

  .tabs{
    width: 100%;
    padding: 40px 0;
    box-shadow: 0 5px 5px -3px $color2;

 
    &__inner{
      padding: 40px 0;
      box-shadow: 0 5px 5px -3px $color2;
    }

    &__list{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-start;
    }

    &__item{
      margin-right: 15px;
      background-color:$color2;
      transition: all ease-out 0.4s;

      i{
        margin-right: 10px;
      }
      
      a{
        color:#ffffff;
        padding: 10px 15px;
        display: block;
        width: 100%;
        text-decoration: none;
      }

      &:hover{
        background-color:$color5;
        transition: all ease-out 0.4s;
      }

    }
  }

  .settings{
    width: 100%;

    padding: 40px 0;
    box-shadow: 0 5px 4px -3px $color2;
    display: flex;
    justify-content: space-between;

    &__inner{
      padding: 40px 0;
      box-shadow: 0 5px 4px -3px $color2;
      display: flex;
      justify-content: space-between;
    }

    &-group{
      display: flex;

      &__item{
        background-color:$color2;
        cursor: pointer;
        margin-right: 25px;

        i{
          margin-right: 10px;
        }

        &:last-child{
          margin-right: 0;
        }

        &:hover{
          background-color:$color5;
          transition: all ease-out 0.4s;
        }
      }
    }
  }

  .post-container{
    padding-top: 50px;

    .post-list{
      position: relative;
      border:2px solid $color5;
      display: flex;
      border-radius: 5px;
      width: 100%;
      min-height: 200px;
      box-shadow: 0 0 5px 5px $color2;
      margin-bottom: 40px;

      &:last-child{
        margin-bottom: 0;
      }

      &__type{
        position: absolute;
        left: 15px;
        top: 10px;

        i{
          font-size: 25px;
        }
      }

      &__img-container{
        width: 35%;
      
        img{
          width: 100%;
          object-fit: cover;
        }
      }

      &__content{
        width: 60%;
        flex-grow: 1;
        padding: 20px;

        &-title{
          text-align: center;
        }

        &-desc{
          display: block;
          font-size: 12px;
          margin-bottom: 60px;
        }
      }

      &__stats{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        min-height: 100px;
       

        &-info{
          display:flex;
          align-items: center;
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 350px;
          min-height: 50px;
        }

        &-item{
          display:flex;
          justify-content: center;
          align-items: center;
          margin-left: 15px;
          margin-right: 15px;

          i{
            margin-right: 8px;            
          }
        }

        &-link{
          display: flex;
          justify-content: center;
          align-items: center;
          color:#ffffff;
          text-decoration: none;
        }

        &-bookmark{
          color:#ffffff;
          background-color: transparent;
          border: none;
          cursor:pointer;
          font-family: 'StargazeRegular',sans-serif;
          padding: 0;
        }

        &-btn-view{
          background-color: $color2;
          margin-right: 20px;
          transition: all ease-out 0.4s;
          cursor:pointer;

          &:hover{
            transition: all ease-out 0.4s;
            background-color:$color5;
            
          }
        }
      }
    }
  }
}