.js-adventure{
    width: 100%;
    min-height: 450px;
    height: 100vh;
    background-color:$color3;
    padding: 40px 70px;
    display: flex;

    &__icons-container{
        position: relative;
        width: 50%;
    }

    &__icon{
        width: 100px;

        &:nth-child(1){
            width: 500px;
            position: absolute;
            bottom: -60px;
            left: -90px;
        }
        &:nth-child(2){
            width: 90px;
            position: absolute;
            top: 35%;
            left: 35%;
        }
        &:nth-child(3){
            width: 250px;
            position: absolute;
            top: 0;
            right: 0;

        }
        &:nth-child(4){
            width: 170px;
            position: absolute;
            bottom: 0;
            right: 10%;
        }
        &:nth-child(5){
            width: 90px;
            position: absolute;
            bottom: 40%;
            right: 10%;
        }
        &:nth-child(6){
            width: 50px;
            position: absolute;
            top: 20%;
            left: 30%;
        }
        &:nth-child(7){
            width: 50px;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:nth-child(8){
            position: absolute;
            top: 50%;
            right: 40%;
            width: 50px;
        }
        &:nth-child(9){
            position: absolute;
            top: 20%;
            left: 0;
            transform: rotate(290deg);
            width: 120px;
        }
    }

    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        i{
            position: absolute;
            top: 36%;
            right: 20%;
            font-size: 50px;
            color:#F3D55B;
            z-index: 22;
        }
    }

    &__title{
        margin-bottom: 30px;
    }

    &__desc{
        margin-bottom: 30px;
    }

    &__start-btn{
        background-color:#ffffff;
        border:1px solid $color2;
        color:$color2;
        padding: 15px;
        width: 200px;
        transition: all ease-out 0.4s;

        &:focus{
            text-decoration: none;
        }
        &:hover{
            border:1px solid #ffffff;
            background-color:$color2;
            transition: all ease-out 0.4s;
        }
    }
}