.js-adventure{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background-color:$color3;
    padding: 40px 70px;
    display: flex;
    flex: 1;
    
    &__icons-container{
        position: relative;
        width: 50%;
    }

    &__icon{
        width: 100px;

        &:nth-child(1){
            width: 500px;
            position: absolute;
            bottom: -60px;
            left: -90px;
        }
        &:nth-child(2){
            width: 90px;
            position: absolute;
            top: 35%;
            left: 35%;
        }
        &:nth-child(3){
            width: 250px;
            position: absolute;
            top: 0;
            right: 0;
            
        }
        &:nth-child(4){
            width: 170px;
            position: absolute;
            bottom: 0;
            right: 10%;
        }
        &:nth-child(5){
            width: 90px;
            position: absolute;
            bottom: 40%;
            right: 10%;
        }
        &:nth-child(6){
            width: 90px;
            position: absolute;
            top: 0;
            left: 35%;
        }
        &:nth-child(7){
            width: 50px;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:nth-child(8){
            position: absolute;
            top: 50%;
            right: 40%;
            width: 50px;
            animation: shake 0.5s;
            animation-iteration-count: infinite;
        }
        &:nth-child(9){
            position: absolute;
            top: 20%;
            left: 0;
            transform: rotate(290deg);
            width: 120px;
        }
    }
   
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        i{
            position: absolute;
            top: 36%;
            right: 20%;
            font-size: 50px;
            color:#F3D55B;
            z-index: 22;
        }
    }

    &__title{
        margin-bottom: 30px;
    }

    &__desc{
        margin-bottom: 30px;
    }

    &__start-btn{
        background-color:#ffffff;
        border:1px solid $color2;
        color:$color2;
        padding: 15px;
        width: 200px;
        transition: all ease-out 0.4s;

        &:focus{
            text-decoration: none;
        }
        &:hover{
            border:1px solid #ffffff;
            background-color:$color2;
            transition: all ease-out 0.4s;
        }
    }
    /*----- Start media queries -----*/

    /*----- Small devices styles -----*/
    @media (min-width: 324.98px) and (max-width: 525px) {
        border:1px solid yellow;
    }
    @media (min-width: 525.98px) and (max-width: 767px) {
        border:1px solid rgb(62, 176, 204);
    }
    /*----- Medium devices styles -----*/
    @media (min-width: 767.98px) and (max-width: 991px) {
        border:1px solid rgb(247, 0, 255);
    }
    /*------ Large devices styles ------*/
    @media (min-width: 991.98px) and (max-width: 1198px) {
        border:1px solid rgb(255, 0, 0);
        height: auto;
        min-height: 800px;
        overflow:hidden;

        &__icon{
            &:nth-child(1){
                bottom: -122px;
                left: -190px;
            }
            &:nth-child(2){
                top:30%;
                z-index: 3;
            }
            &:nth-child(3){
                width: 180px;
            }
            &:nth-child(4){
                width: 145px;
                right: -5%;
            }
            &:nth-child(5){
                width: 45px;
                z-index: 3;
            }
            &:nth-child(6){
                left: 25%;
            }
            &:nth-child(8){
                top: 30%;
                right: 12%;
            }
            &:nth-child(9){
                width: 100px;
            }
        }

        &__content{
            i{
                font-size: 35px;
                top: 36.4%;
                right: -4%;
            }
        }

        &__title{
            font-size: 35px;
        }

        &__desc{
            font-size: 14px;
        }

        &__start-btn{
            width: 170px;
        }
    }
    @media (min-width: 1198.98px) and (max-width: 1401px) {
        border:1px solid rgb(0, 255, 21);
        height: auto;
        min-height: 800px;
        overflow:hidden;

        &__icon{
            &:nth-child(1){
                bottom: -122px;
                left: -190px;
            }
            &:nth-child(2){
                top:30%;
                z-index: 3;
            }
            &:nth-child(8){
                right: 30%;
            }
        }

        &__content{
            i{
                top: 33%;
                right: 1%;
            }
        }
    }
    @media (min-width: 1401.98px) and (max-width: 1651px) {
        border:1px solid rgb(119, 0, 255);
        height: auto;
        min-height: 800px;
        overflow:hidden;

        &__icon{
            &:nth-child(1){
                bottom: -122px;
                left: -190px;
            }
            &:nth-child(2){
                top:30%;
            }
            &:nth-child(8){
                right: 30%;
            }
        }

        &__content{
            i{
                top: 33%;
                right: 10%;
            }
        }
    }
    @media (min-width: 1651.98px) and (max-width: 1900px) {
        border:1px solid rgb(255, 123, 0);
        padding: 30px 40px;
        height: auto;
        min-height: 800px;
        overflow:hidden
    }

    /*----- End media queries -----*/
}