.promo{
    color:#ffff;
    position: relative;
    display: flex;
    padding: 70px 70px;
    height: 100vh;
    min-height: 100vh;
    background-color:$color1;
    z-index: 2;
    overflow: hidden;
    flex: 1;

    &__inner{
        display: flex;
    }
    
    &__content{
        z-index: 2;
        width: 50%;
        padding-top: 100px;
    }

    &__title{
        display: block;
        font-size: 50px;
        margin-bottom: 50px;
    }

    &__text{
        display: block;
        line-height: 34px;
        font-size: 24px;
        margin-bottom: 40px;
    }

    &__img-section{
        z-index: 2;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{    
            width: 100%;
        }
    }

    &__sign-up{
        transition: all ease-out 0.8s;
        width: 170px;
        background-color:$color2;

        &:hover{
            background-color:$color5;
            transition: all ease-out 0.8s;
       }
    }

    .star-svg,
    .star-svg2,
    .star-svg3,
    .star-svg4,
    .star-svg5,
    .star-svg6,
    .star-svg7,
    .star-svg8,
    .star-svg9{
        position: absolute;
        z-index: 1;
    }

    .star-svg{
        top: 13px;
        left: -15px;
    }
    .star-svg2{
        top: 19px;
        left: 47%;
    }
    .star-svg3{
        bottom: 19px;
        left: 110px   
    }
    .star-svg4{
        top: 0;
        right:0;
    }
    .star-svg5{
        top: 270px;
        right: 0px;
    }
    .star-svg6{
        top: 60px;
        left: 468px;
    }
    .star-svg7{
        top: 440px;
        left: 514px;
    }
    .star-svg8{
        bottom: 0;
        right: 20%;
    }
    .star-svg9{
        bottom: 0;
        right: 40%;
    }

    /*----- Start media queries -----*/

    /*----- Small devices styles -----*/
    @media (min-width: 324.98px) and (max-width: 525px) {
        padding: 0;
        height: auto;
        min-height: auto;

        &__inner{
            padding-top: 105px;
            padding-bottom: 0;
            flex-direction: column-reverse;
        }

        &__content{
            width: 100%;
            padding-top: 0;
            margin-bottom: 20px;
            padding: 0 20px;
        }

        &__title{
            font-size: 23px;
            margin-bottom: 15px;
        }

        &__text{
            font-size: 14px;
            line-height: 25px;
        }

        &__img-section{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    @media (min-width: 525.98px) and (max-width: 767px) {
        padding: 0;
        height: auto;
        min-height: auto;

        &__inner{
            padding-top: 105px;
            padding-bottom: 30px;
            flex-direction: column;
        }

        &__content{
            width: 100%;
            padding-top: 0;
            padding: 0 20px;
        }

        &__title{
            font-size: 35px;
        }

        &__text{
            font-size: 20px;
        }

        &__img-section{
            width: 100%;
        }
    }
    /*----- Medium devices styles -----*/
    @media (min-width: 767.98px) and (max-width: 991px) {
        padding: 30px 25px;
        height: auto;
        min-height: auto;

        &__inner{
            flex-direction: column;
        }

        &__content{
            width: 100%;
            padding-top: 0;
        }

        &__title{
            font-size: 35px;
        }

        &__text{
            font-size: 20px;
        }

        &__img-section{
            width: 100%;
        }      
    }
    /*------ Large devices styles ------*/
    @media (min-width: 991.98px) and (max-width: 1198px) {
        padding: 50px 25px;
        height: auto;
        min-height: auto;

        &__content{
            padding-top: 0;
        }

        &__title{
            font-size: 35px;
        }

        &__text{
            font-size: 16px;
        }

    }
    @media (min-width: 1198.98px) and (max-width: 1651px) {
        padding: 80px 50px;
        height: auto;
        min-height: auto;

        &__content{
            padding-top: 15px;
        }

        &__title{
            font-size: 40px;
        }

        &__text{
            font-size: 20px;
        }
    }
    @media (min-width: 1401.98px) and (max-width: 1651px) {
        padding: 90px 50px;
        height: auto;
        min-height: auto;
    }
    @media (min-width: 1651.98px) and (max-width: 1900px) {
        padding: 90px 50px;
        height: auto;
        min-height: auto;
    } 

    /*----- Start media queries -----*/ 
}
