.sign-up{
  width: 100%;
  display: flex;
  flex: 1;
  height: 100vh;
  background-image:url('../../img/space2.jpg');
  background-repeat:no-repeat;
  background-size:cover;

  &__column{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 50%;

    &-left{
      background-image:url('../../img/2pack/spot.svg');
      background-repeat:no-repeat;
      background-size:contain;
      position: relative;
    
      .logo_sign-up{
        display: block;
        color:$color2;
        margin-left: 70px;
        margin-bottom: 30px;
      }

      .form{
        width: 50%;
        min-height: 450px;
        border: 2px solid #ccc;
        border-radius:10px;
        padding: 10px;
        margin-left: 70px;
        margin-bottom: 20px;
        color:$color2;
        

        &__title{
          font-size: 22px;
          margin-bottom: 40px;
        }

        &__input{
          margin-bottom: 30px;
          display: flex;
          position: relative;
         
          i{
            position: absolute;
            top: 12px;
            left: 10px;
          }
        }

        input{
          border:0px;
          border-bottom: 2px solid #ccc;
          width: 80%;
          padding: 10px 35px;
          font-family: 'StargazeRegular',sans-serif;
          font-size: 13px;
          transition: all ease-out 0.8s;

          &:active{
            outline: none;
            border-bottom: 2px solid $color2;
            transition: all ease-out 0.8s;
          }

          &:focus{
            outline: none;
            border-bottom: 2px solid $color2;
            transition: all ease-out 0.8s;
          }
        }
       
        &__privacy-policy{
          display: flex;
          align-items: center;
          font-size: 13px;
          

          label{
            font-size: 12px;
            letter-spacing: 0;
            margin: 0;

            a{
              color:$color5;
            }
          }

          input{
            position: absolute;
            z-index: -1;
            opacity: 0;
           

            &:checked + label:after{
              position: absolute;
              top: 2.5px;
              left: 2.9px;
              background: $color2;
              height: 14px;
              width: 14px;
              transition: all ease-out 0.3s;
            }
      
            &+label{
              position: relative;
              vertical-align: middle;
              padding: 0 0 0 30px;
              cursor: pointer;
             

              &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border: 2px solid #ccc;
                border-radius: 3px;
              }

              &::after{
                content: '';
                position: absolute;
              }
            }
          }
        }

        &__send-btn{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 13px;

          a{
            color:$color5;
            text-decoration: none;
            transition: all ease-out 0.3s;
            
            &:hover{
              transition: all ease-out 0.3s;
              color:$color2;
            }
          }

          .sign-up-btn{
            background-color:$color2;
            font-size: 18px;
            cursor: pointer;
            transition: all ease-out 0.3s;
            outline:none;
            width: 50%;

            &:hover{
              outline:none;
              transition: all ease-out 0.3s;
              background-color:$color5;
            }
          }
        }

        .login-with{
          font-size: 13px;
          margin-bottom: 40px;

          &__button-wrap{
            display: flex;

            button{
              width: 50%;
              height: 40px;
              background-color: $color2;
              outline: none;
              border: none;
              cursor:pointer;
              color:#ffffff;
              font-size: 19px;
              transition: all ease-out 0.8s;

              &:hover{
                background-color: $color5;
                transition: all ease-out 0.8s;
              }
            
              &:first-child{
                margin-right: 15px;
              }
            }
          }
          
        }

        &__link-to-sign-up{
          display: flex;
          font-size: 13px;
          margin-bottom: 20px;

          .create-account{
            color:$color5;
            text-decoration: none;
            transition: all ease-out 0.3s;
    
            &:hover{
              transition: all ease-out 0.3s;
              color:$color2;
            }
          }
        } 
      }
    }

    &-right{
      position: relative;
      // border:1px solid yellow;

      img{
        z-index: 0;
        position: absolute;
        bottom: -50%;
      }
    }
  }

  // background image with position absolute
  &__uranus-img{
    position: absolute;
    top: 8%;
    right: 90px;
    width: 250px;
  }
  
  &__lander-img{
    position: absolute;
    bottom: 30px;
    left: 20%;
    width: 170px;
    transform: rotate(50deg);
  }

  &__astronaut-on-moon{
    position: absolute;
    top: 26%;
    left: 0;
    width:400px;
    transform: scale(-1, 1);
  }

  &__mars{
    position: absolute;
    top: 0;
    right: 5%;
    width: 240px;
  }

  &__saturn{
    position: absolute;
    top: 10px;
    left: 0;
    width: 150px;
  }

  
}