.sign-up{
    color:#ffff;
    position: relative;
    // border:1px solid white;
    display: flex;
    padding: 70px 70px;
    min-height: 500px;
    background-color:$color1;
    z-index: 2;

    &__content{
        z-index: 2;
        width: 50%;
        // border:1px solid black;
    }

    &__title{
        display: block;
        font-size: 50px;
        margin-bottom: 50px;
    }

    &__text{
        display: block;
        line-height: 24px;
        font-size: 24px;
        margin-bottom: 40px;
    }

    &__img-section{
        z-index: 2;
        width: 70%;
        // border:1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;

        img{    
            width: 100%;
        }
    }

    &__link{
        transition: all ease-out 0.8s;
        width: 170px;
        background-color:$color2;

        &:hover{
            background-color:$color5;
            transition: all ease-out 0.8s;
       }
    }

    .star-svg,
    .star-svg2,
    .star-svg3,
    .star-svg4,
    .star-svg5,
    .star-svg6{
        position: absolute;
        z-index: 1;
    }

    .star-svg{
        top: 13px;
        left: -15px;
    }
    .star-svg2{
        top: 19px;
        left: 47%;
    }
    .star-svg3{
        bottom: 19px;
        left: 110px   
    }
    .star-svg4{
        top: 0;
        right:0;
    }
    .star-svg5{
        top: 270px;
        right: 0px;
    }
    .star-svg6{
        top: 225px;
        left: 468px;
    }
}