html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  color:#ffffff;
  background-color:$color1;
  font-family: 'StargazeRegular',sans-serif;
  letter-spacing: 2px;
}
.container{
  width: 1600px;
  margin: 0 auto;
}

.btn{
  display: block;
  width: 120px;
  padding: 10px;
  color:#ffffff;
  border:1px solid $color2;
  text-align: center;

  &:hover{
      text-decoration: none;
      color:#ffffff;
  }
}

.title{
  margin: 0;
  font-size: 40px;
  text-align:center;
}

.description{
  max-width: 381px;
  text-align: center;
}
