$main-font:"Open Sans";
$logo-font:"Big John";
$title-font:"Source Sans Pro";


$color1: #201c2b;
$color2: #3a2e5c;
$color3: #183966;
$color4: #14252f;
$color5: #8050bd;
$color6: #2d4e7a;
$color7: #a282ca;