<section class="css-adventure">
    <div class="css-adventure__icons-container">
        <img class="css-adventure__icon" src="../img/1pack/017-neptune.svg" alt="js adventure, yellow planet">
        <img class="css-adventure__icon" src="../img/1pack/033-signal.svg" alt="js adventure, yellow planet">
        <img class="css-adventure__icon" src="../img/1pack/044-uranus.svg" alt="js adventure, yellow planet">
        <img class="css-adventure__icon" src="../img/1pack/022-pluto.svg" alt="js adventure, yellow planet">
        <img class="css-adventure__icon" src="../img/1pack/042-telescope.svg" alt="js adventure, yellow planet">
        <img class="css-adventure__icon" src="../img/1pack/011-lander.svg" alt="js adventure, yellow planet">
        <img class="css-adventure__icon" src="../img/1pack/009-galaxy.svg" alt="js adventure, rockets">
        <img class="css-adventure__icon" src="../img/1pack/003-comet.svg" alt="js adventure, yellow planet">
        <img class="css-adventure__icon" src="../img/1pack/018-observatory.svg" alt="js adventure, yellow planet">
    </div>
    <div class="css-adventure__content">
        <i class="fab fa-css3-alt"></i>
        <h2 class="css-adventure__title title">css adventure</h2>
        <span class="css-adventure__desc description">Set out to explore the world of CSS, good luck with your exploration</span>
        <a href="#" class="css-adventure__start-btn btn">Start</a>
    </div>
</section>