<footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__column">

          <div class="logo logo_footer">
            <img  src="../img/logo.svg" alt="footer logo">
            <a href="#">Code Adventure</a>
          </div>
          <div class="footer__resource-promo">
              <span>on this resource you will find a lot of interesting things from the frontend world</span>
          </div>

        </div>
        <div class="footer__column footer__column_grow">
          <ul class="footer__nav-list">
            <li class="footer__nav-item"><a href="../jslibrary.html">JavaScript library</a></li>
            <li class="footer__nav-item"><a href="#">CSS library</a></li>
            <li class="footer__nav-item"><a href="#">HTML library</a></li>
            <li class="footer__nav-item"><a href="#">Online Test</a></li>
            <li class="footer__nav-item"><a href="#">Channels</a></li>
          </ul>
          
          <div class="footer__language">
              <span class="footer__language-title">Current language</span>
            <button class="footer__language-eng btn current">English</button>
            <button class="footer__language-ru btn">Russian</button>
          </div>
        </div>
        <div class="footer__column">
            <div class="footer__settings-theme">
              <button id="lt" class="footer__settings-theme-btn btn">Light</button>
              <button id="dk" class="footer__settings-theme-btn btn active">Dark</button>
            </div>

            <ul class="footer__social-list">
                <li class="footer__social-item"><a href="#" class="fab fa-github"></a></li>
                <li class="footer__social-item"><a href="#" class="fab fa-linkedin"></a></li>
            </ul>

            <span class="footer__copyright">Developer Alexey Kurgan</span>
        </div>
      </div>  
    </div>
</footer>