<header class="header">
    <div class="header__logo-container">
        <img src="../img/logo.svg" alt="logo solar system">
        <span>Code Adventure</span>
    </div>
    <ul class="header__nav-list">
        <li class="header__nav-item">Menu1</li>
        <li class="header__nav-item">Menu1</li>
        <li class="header__nav-item">Menu1</li>
        <li class="header__nav-item">Menu1</li>
        <li class="header__nav-item">Menu1</li>
    </ul>

    <div class="header__site-actions">
        <a href="#" class="header__sign-up">Sign Up</a>
        <a href="#" class="header__sign-in">Sign In</a>
    </div>
</header>