<header class="header">
    <a href="/" class="header__logo-container">
        <img src="../img/logo.svg" alt="logo solar system">
        <span>Code Adventure</span>
    </a>
    <ul class="header__nav-list">
        <li class="header__nav-item"><a href="#">JavaScript library</a></li>
        <li class="header__nav-item"><a href="#">CSS library</a></li>
        <li class="header__nav-item"><a href="#">HTML library</a></li>
        <li class="header__nav-item"><a href="#">Online Test</a></li>
        <li class="header__nav-item"><a href="#">Channels</a></li>
    </ul>

    <div class="header__search-container">
        <i class="fas fa-search"></i>
    </div>
    
    <div class="header__actions">
        <a href="../sign-up.html" class="header__actions-sign-up btn">Sign Up</a>
        <a href="../sign-in.html" class="header__actions-sign-in btn">Sign In</a>
    </div>

    <form class="header__form-search" action="#">
        <fieldset class="d-flex">
            <legend>Search</legend>
            <input placeholder="Search" type="search">
            <input value="send" type="submit">
        </fieldset>    
        <div class="header__form-close">
            <span></span>
            <span></span>
        </div>
    </form>
</header>