<header class="header">
    <a href="#" class="header__logo-container">
        <img src="../img/logo.svg" alt="logo solar system">
        <span>Code Adventure</span>
    </a>
    <ul class="header__nav-list">
        <li class="header__nav-item"><a href="#">JavaScript library</a></li>
        <li class="header__nav-item"><a href="#">CSS library</a></li>
        <li class="header__nav-item"><a href="#">HTML library</a></li>
        <li class="header__nav-item"><a href="#">Online Test</a></li>
        <li class="header__nav-item"><a href="#">Channels</a></li>
    </ul>

    <div class="header__actions">
        <a href="#" class="header__actions-sign-up btn">Sign Up</a>
        <a href="#" class="header__actions-sign-in btn">Sign In</a>
    </div>
</header>