<section class="html-adventure">
    <div class="html-adventure__icons-container">
        <img class="html-adventure__icon" src="../img/1pack/012-mars.svg" alt="html adventure, yellow planet">
        <img class="html-adventure__icon" src="../img/1pack/008-flag.svg" alt="html adventure, yellow planet">
        <img class="html-adventure__icon" src="../img/1pack/007-earth.svg" alt="html adventure, rockets">
        <img class="html-adventure__icon" src="../img/1pack/036-space colony.svg" alt="html adventure, yellow planet">
        <img class="html-adventure__icon" src="../img/1pack/015-moon.svg" alt="html adventure, yellow planet">
        <img class="html-adventure__icon" src="../img/1pack/039-space suit.svg" alt="html adventure, yellow planet">
        <img class="html-adventure__icon" src="../img/1pack/041-sun.svg" alt="html adventure, yellow planet">
        <img data-size="nano" class="html-adventure__icon" src="../img/1pack/038-space station.svg" alt="html adventure, yellow planet">
        <img data-size="small" class="html-adventure__icon" src="../img/1pack/037-space ship.svg" alt="html adventure, yellow planet">
        <img data-size="large" class="html-adventure__icon" src="../img/1pack/043-ufo.svg" alt="html adventure, yellow planet">
    </div>
    <div class="html-adventure__content">
        <i class="fab fa-html5"></i>
        <h2 class="html-adventure__title title">html adventure</h2>
        <span class="html-adventure__desc description">Set out to explore the world of HTML, good luck with your exploration</span>
        <a href="#" class="html-adventure__start-btn btn">Start</a>
    </div>
</section>