<section class="js-adventure">
    <div class="js-adventure__icons-container">
        <img class="js-adventure__icon" src="../img/1pack/031-planet.svg" alt="js adventure, yellow planet">
        <img data-size="nano" class="js-adventure__icon" src="../img/1pack/029-rockets.svg" alt="js adventure, rockets">
        <img class="js-adventure__icon" src="../img/1pack/050-black hole.svg" alt="js adventure, yellow planet">
        <img class="js-adventure__icon" src="../img/1pack/022-pluto.svg" alt="js adventure, yellow planet">
        <img data-size="large" class="js-adventure__icon" src="../img/1pack/046-Asteroid.svg" alt="js adventure, yellow planet">
        <img data-size="small" class="js-adventure__icon" src="../img/1pack/030-satellite.svg" alt="js adventure, yellow planet">
        <img data-size="medium" class="js-adventure__icon" src="../img/1pack/046-Asteroid.svg" alt="js adventure, yellow planet">
        <img class="js-adventure__icon" src="../img/1pack/013-meteorite.svg" alt="js adventure, yellow planet">
        <img data-size="large" class="js-adventure__icon" src="../img/1pack/046-Asteroid.svg" alt="js adventure, yellow planet">
    </div>
    <div class="js-adventure__content">
        <i class="fab fa-js"></i>
        <h2 class="js-adventure__title title">js adventure</h2>
        <span class="js-adventure__desc description">Set out to explore the world of JS, good luck with your exploration</span>
        <a href="#" class="js-adventure__start-btn btn">Start</a>
    </div>
</section>

