<section class="promo">
    <!-- star icon svg -->
    @@include('../layouts/star-icon-svg.html')
   
    <div class="promo__content">
        
        <h1 class="promo__title">Code Adventure</h1>
        <span class="promo__text">
            On this site you can find different libraries, pieces of code that are implemented in Javascript, HTML, CSS
        </span>
        <a href="../sign-up.html" class="promo__sign-up btn">Sign Up</a>
    </div>

    <div class="promo__img-section">
        <img src="./img/bg2.png" alt="promo backgorund image">
    </div>
</section>