<section class="sign-up">
    <!-- star icon svg -->
    @@include('../layouts/star-icon-svg.html')

    <div class="sign-up__content">
        <h1 class="sign-up__title">Code Adventure</h1>
        <span class="sign-up__text">
            On this site you can find different libraries, pieces of code that are implemented in Javascript, HTML, CSS
        </span>
        <a href="#" class="sign-up__link btn">Sign Up</a>
    </div>

    <div class="sign-up__img-section">
        <img src="./img/bg2.png" alt="">
    </div>
</section>